<ion-header>

  <ion-navbar color="dark">
    <ion-title>Créer une news</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="closeModal()"><ion-icon name="close"></ion-icon></button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <!-- <form (ngSubmit)="register()" #regForm="ngForm">
    <ion-list>

      <ion-item>
        <ion-label fixed>Photo</ion-label>
        <ion-avatar item-end>
          <img src="{{imgPreview}}" (click)="getPhoto()">
        </ion-avatar>
      </ion-item>

      <ion-item>
        <ion-label color="dark" floating>Email</ion-label>
        <ion-input type="email" name="email" required></ion-input>
      </ion-item>

      <ion-item>
        <ion-label color="dark" floating>Password</ion-label>
        <ion-input type="password" name="password" required></ion-input>
      </ion-item>

      <ion-item>
        <ion-label color="dark" floating>Full Name</ion-label>
        <ion-input type="text" name="fullname" required></ion-input>
      </ion-item>

      <ion-item margin-top>
          <ion-label color="dark">Publier sur Facebook</ion-label>
          <ion-checkbox></ion-checkbox>
      </ion-item>

    </ion-list>
    <div padding>
      <button ion-button full color="dark">Ajouter</button>
    </div>
  </form> -->

  <form [formGroup]="infoForm">
    <ion-item no-padding>
      <ion-label stacked color="dark">Titre</ion-label>
      <ion-input type="text" formControlName="title"></ion-input>
    </ion-item>

    <ion-item no-padding>
      <ion-label stacked color="dark">Description</ion-label>
      <ion-textarea formControlName="description"></ion-textarea>
    </ion-item>

    <ion-item no-padding class="item-borderless">
      <ion-label stacked color="dark">Ajouter des photos</ion-label>
    </ion-item>

    <ion-item no-padding>
      <ion-row>
        <ion-col width-50>
          <button ion-button full color="light" (click)="takePhoto()">
            <ion-icon name="md-camera"></ion-icon>
          </button>
        </ion-col>
        <ion-col width-50>
          <button ion-button full color="dark" (click)="selectPhoto()">
            <ion-icon name="md-image"></ion-icon>
          </button>
        </ion-col>
      </ion-row>
    </ion-item>

    <ion-item *ngIf="myPhotoURL?.length > 0" no-padding>
      <ion-scroll scrollX="true" style="width:100vw; height:50px" >
        <ion-row nowrap class="headerChip">
          <div *ngFor="let photo of myPhotoURL; let idx = index">
            <img class="img-responsive" src="{{ photo }}" />
            <ion-input type="hidden" formControlName="photos" value="{{ photo }}"></ion-input>
          </div>
        </ion-row>
      </ion-scroll>
    </ion-item>

    <button margin-top ion-button full color="dark" [disabled]="!infoForm.valid" (click)="saveInfo()">Enregistrer</button>
  </form>

</ion-content>
